= form_for @pre_order do |f|
  %h1 
    Let us notify you when your
    != klik_logotype(true)
    are available
  -if @pre_order.errors.any?
    #error_explanation
      %h3= "Ooops. We can't save your info yet because: "
      %br
      %ul
        - @pre_order.errors.full_messages.each do |msg|
          %li= msg

  = f.text_field :email, :value => (@pre_order.email || "Your Email"), :class => "xlarge", :style => "width: 90%;"
  %br
  %br
  = select(:pre_order, :quantity, Quantity.amounts, {:prompt => "How many kliks would you buy?"}, {:class => "xlarge", :style => "width: 95%"})
  %br
  %br
  %br
  %center
    = f.submit(:value => "Submit", :class => "btn primary large")
