#hero
  .container
    %br
    %br
    .row 
      .span8
        %h1
          Make Your 
          %br
          Work Flow.
        %h2
        %h2
          Let your coworkers know 
          %br 
          when you are
          %span.green available to talk
          and when you need to 
          %span.orange stay in your zone.

      .span8

#information
  %br
  %br
  %br
  .container
    .row
      .span8

        #slideshow
          .row
            .span4
              = link_to(image_tag("slideshow/2_220.jpg"), "/assets/slideshow/2_800.jpg", :class => 'slideshow', :rel => 'slideshow', :title => "This is a Klik. Green side up, you're available for collaboration.")
              %br
              %br
            .span4
              = link_to(image_tag("slideshow/3_220.jpg"), "/assets/slideshow/3_800.jpg", :class => 'slideshow', :rel => 'slideshow', :title => "Collaboration at the right time.")
              %br
              %br
            .span4
              = link_to(image_tag("slideshow/4_220.jpg"), "/assets/slideshow/4_800.jpg", :class => 'slideshow', :rel => 'slideshow', :title => "Orange side up when you want to focus." )
            .span4
              = link_to(image_tag("slideshow/5_220.jpg"), "/assets/slideshow/5_800.jpg", :class => 'slideshow', :rel => 'slideshow', :title => "Work without interruption.")

        %br
        %hr
        %p.story.bold
          %span.green
            Working together 
          is great &mdash; except when you need to do 
          %span.orange
            work on your own. 

        %hr
        %br

        %p.story
          Do you remember the last time you were in the zone, finally concentrating and plowing through work? And then, right at the peak of your productivity, a pertinent request, maybe even an innocent greeting from a trusted colleague &mdash; killed it. 
        %p.story
          Your momentum gone, you blinked at the screen and went to water cooler. It would be hours (maybe days) before you got back into that kind of zone... 
        %p.story
          No longer. You, and everyone else you work with, can signal your status with a klik. Opt-in to collaboration and co-working at the right time for you and your colleagues.  And opt-out when you need to zone in on your work.  Klik with your coworkers.
 
      .span7.offset1
        %h2
          &ldquo;My Klik already paid for itself on the first day. I get fewer disruptions and can do better work. &ldquo;
        %h3 Tom Henderson, Developer, NYC
        %br
        %br
        %h2
          &ldquo;It's amazing, so simple and effective. My Klik simply tells everyone what I'm up to without me having to explain. It's works just great.&ldquo;
        %h3 Chelsea Rothstein, Manager, NYC

        %br
        %br
        %h2
          &ldquo;Just get your kliks. They work.&ldquo;
        %h3 Rahul Singhal, Manager, NYC

        %hr
        %br
        = link_to(image_tag("slideshow/6_800.jpg", :style => "width: 100%; border-radius: 10px;"), "/assets/slideshow/6_800.jpg", :class => 'slideshow', :rel => 'slideshow', :title => "Your Klik: Beautifully hand-crafted in cherry wood." )

    %br
    %hr
    %br
    %br

    .row
      .span4
        &nbsp;
      .span8
        = render :partial => "pre_orders/form"
      .span4
        &nbsp;


  %br
  %br
  %br
  :javascript
    $("a.slideshow").fancybox({cyclic: true});
