#hero
  .container
    %br
    %br
    .row 
      .span8
        %h1
          Make Your 
          %br
          Work Flow.
        %h2
        %h2
          Show your team
          when you are
          %span.green available to talk
          and when 
          %br
          you want to 
          %span.orange stay in your zone.

      .span8

#information
  %br
  %br
  %br
  .container
    .row
      .span8

        #slideshow
          .row
            .span4
              = link_to(image_tag("slideshow/2_220.jpg"), "/assets/slideshow/2_800.jpg", :class => 'slideshow', :rel => 'slideshow', :title => "This is a Klik. Green side up, you're available for collaboration.")
              %br
              %br
            .span4
              = link_to(image_tag("slideshow/3_220.jpg"), "/assets/slideshow/3_800.jpg", :class => 'slideshow', :rel => 'slideshow', :title => "Collaboration at the right time.")
              %br
              %br
            .span4
              = link_to(image_tag("slideshow/4_220.jpg"), "/assets/slideshow/4_800.jpg", :class => 'slideshow', :rel => 'slideshow', :title => "Orange side up when you want to focus." )
            .span4
              = link_to(image_tag("slideshow/5_220.jpg"), "/assets/slideshow/5_800.jpg", :class => 'slideshow', :rel => 'slideshow', :title => "Work without interruption.")

        %br
        %hr
        %p.story.bold
          %span.green
            Working together 
          is great &mdash; except when you need to
          %span.orange
            do work on your own. 

        %hr
        %br

        %p.story
          Do you remember the last time you were in the zone, finally concentrating and plowing through work? And then, right at the peak of your productivity, a pertinent request, maybe even an innocent greeting from a trusted colleague &mdash; killed it. 

        %p.story
          Your momentum gone, you blinked at the screen and went to the water cooler. It would be hours (maybe days) before you got back into that kind of zone... 

        %p.story
          No longer. You, and everyone else you work with, can signal your status with a 
          != klik_logotype(false) + "." 
          Opt-in to collaboration and co-working at the right time for you and your colleagues.  And opt-out when you need to zone in on your work.  


        %p.story
          Simply 
          != klik_logotype(false)
          with your coworkers.

 
      .span7.offset1
        %h2
          &ldquo;My Klik already paid for itself on the first day. I get fewer disruptions and can do better work.&ldquo;
        %h3 
          Walter Hessert, Co-Founder, 
          = link_to 'DerbyJackpot', 'http://derbyjackpot.com'
        %br

        %hr
        %br
        = link_to(image_tag("slideshow/6_800.jpg", :style => "width: 100%; border-radius: 10px;"), "/assets/slideshow/6_800.jpg", :class => 'slideshow', :rel => 'slideshow', :title => "Your Klik: Beautifully hand-crafted in cherry wood." )

    %br
    %hr
    %br
    %br

    .row
      .span3
        &nbsp;
      .span10
        = render :partial => "pre_orders/form"
      .span3
        &nbsp;


  %br
  %br
  %br
  :javascript
    $("a.slideshow").fancybox({cyclic: true});
