#hero
  .container
    %br
    %br
    .row 
      .span8
        %h1
          Make Your 
          %br
          Work Flow.
        %h2
        %h2
          Clearly signal to those around you when you are 
          %span.green available to talk
          and when you are
          %span.orange in your zone.

      .span8

#information
  %br
  %br
  .container
    .row
      .span8

        #slideshow
          %h2 So, what's a Klik?
          %br
          .row
            .span2
              = link_to(image_tag("slideshow/8_90.jpg"), "/assets/slideshow/8_800.jpg", :class => 'slideshow', :rel => 'slideshow', :title => "This is a Klik. Green side up, you're available for collaboration.")
              %br
              %br
            .span2
              = link_to(image_tag("slideshow/5_90.jpg"), "/assets/slideshow/5_800.jpg", :class => 'slideshow', :rel => 'slideshow', :title => "Collaboration at the right time.")
              %br
              %br
            .span2
              = link_to(image_tag("slideshow/9_90.jpg"), "/assets/slideshow/9_800.jpg", :class => 'slideshow', :rel => 'slideshow', :title => "Orange side up when you want to focus." )
            .span2
              = link_to(image_tag("slideshow/4_90.jpg"), "/assets/slideshow/4_800.jpg", :class => 'slideshow', :rel => 'slideshow', :title => "Work without interruption.")
          :javascript
            $("a.slideshow").fancybox({cyclic: true});

        %br

        %p#story
          TBD: Story /
          Painpoint: Being interrupted while in the zone. Expensive in terms of concentration and productivity!
          Working together is great, except when you need to work on your own.
          Working in an office, coworking space or coffee shop 
          can be difficult 
          %span.highlight
            when you really need to concentrate.
          Situation (working concentratedly & Getting interrupted, pulled out of your zone & necessary communication for next steps)
          Setting (
          %span.highlight office, coworking space, coffee shop, conference
          Solution (That's where Kliks come in, help send clear signals. Opt-in to communication with green, opt-out with orange. Network effect with your team, easy to explain, simple to use)
 


      .span7.offset1
        %h2
          &ldquo;My Klik already paid for itself on the first day. I get fewer disruptions and can do better work. &ldquo;
        %h3 Alexis Rondeau, NYC
        %br
        %h2
          &ldquo;It's amazing, so simple and effective. My Klik simply tells everyone what I'm up to without me having to explain. It's works just great.&ldquo;
        %h3 JD Stettin, NYC

        %hr

        = image_tag("slideshow/10_800.jpg", :style => "width: 100%; border-radius: 10px;")

    %br
    %hr
    %br
    %br
    .row
      .span4
        &nbsp;
      .span8
        = render :partial => "pre_orders/form"
      .span4
        &nbsp;


  %br
  %br
  %br