#hero
  .container
    %br
    %br
    .row 
      .span8
        %h1
          Make Your
          %br
          Work Flow.
        %h2
        %h2
          Show your team
          when you are
          %span.green available to talk
          and when 
          %br
          you want to 
          %span.orange stay in your zone.
      .span8
        &nbsp;

#information
  .container
    %br
    %br
    .row
      .span4
        = link_to(image_tag("slideshow/2_220.jpg"), "/assets/slideshow/2_800.jpg", :class => 'slideshow', :rel => 'slideshow', :title => "This is a Klik. Green side up, you're available for collaboration.")
      .span4
        = link_to(image_tag("slideshow/3_220.jpg"), "/assets/slideshow/3_800.jpg", :class => 'slideshow', :rel => 'slideshow', :title => "Collaboration at the right time.")
      .span4
        = link_to(image_tag("slideshow/4_220.jpg"), "/assets/slideshow/4_800.jpg", :class => 'slideshow', :rel => 'slideshow', :title => "Orange side up when you want to focus." )
      .span4
        = link_to(image_tag("slideshow/5_220.jpg"), "/assets/slideshow/5_800.jpg", :class => 'slideshow', :rel => 'slideshow', :title => "Work without interruption.")
  %br
  %br
  .container
    .row
      .span8
        %h1
          %span.green
            Working together 
          is great &mdash; 
          except when you need to
          %br
          %span.orange
            do work on your own. 
        %hr
        %p.story
          Do you remember the last time you were in the zone, finally concentrating and plowing through work? And then, right at the peak of your productivity, a pertinent request, maybe even an innocent greeting from a trusted colleague &mdash; killed it. 
        %p.story
          Your momentum gone, you blinked at the screen and went to the water cooler. It would be hours (maybe days) before you got back into that kind of zone... 
        %p.story
          No longer. You, and everyone else you work with, can signal your status with a 
          != klik_logotype(false) + "." 
          Opt-in to collaboration and co-working at the right time for you and your colleagues.  And opt-out when you need to zone in on your work.  
        %p.story
          Simply 
          != klik_logotype(false)
          with the people around you.
      .span7.offset1
        = link_to(image_tag("slideshow/6_800.jpg", :style => "width: 100%; border-radius: 10px;"), "/assets/slideshow/6_800.jpg", :class => 'slideshow', :rel => 'slideshow', :title => "Your Klik: Beautifully hand-crafted in cherry wood." )
        %hr
        .places
          %h1
            %span.green Create your zone 
            at
            the office, coworking space, coffee shop, school 
            %br
            and at home
        %hr
        .quotes
          .quote
            %h3
              &ldquo;Busy/Free status messages are one of those things I always wish existed in the real world. They're such simple ways to communicate the simple message of "please don't bother me right now." I never thought I'd get it and then... Klik. So awesome.&ldquo;
            %br
            %p.author 
              Aaron Harris, Co-Founder, NYC
              = link_to 'Tutorspree', 'http://tutorspree.com'
          %br
          .quote
            %h3
              &ldquo;My Klik already paid for itself on the first day. I get far less disruptions and can get work done easier.&ldquo;
            %br
            %p.author 
              Walter Hessert, Co-Founder, NYC
              = link_to 'DerbyJackpot', 'http://derbyjackpot.com'

    %hr
    %br
    %br
    .row
      .span4
        &nbsp;
      .span8
        = render :partial => "pre_orders/form"
      .span4
        &nbsp;

    %br

  %br
  %br
  %br
  :javascript
    $("a.slideshow").fancybox({cyclic: true});
