<!DOCTYPE html>
<html>
<head>
  <title>Get Your Kliks</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id="top">
    <div class="container">
      <%= link_to(image_tag("klik_colors.png"), :action => :index, :controller => :welcome) %>
    </div>
  </div>
  <div id="content">
    <div class="container wood">
      <br/>
      <%= yield %>
      <br/>
    </div>
  </div>
  <div id="footer">
    <div class="container">
      <%= render :partial => "layouts/footer_content" %>
    </div>
    <br/>
  </div>
</body>
</html>
